In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./ltv20160906_test.csv', delimiter='^')

In [3]:
data_80 = pd.read_csv('./ltv20160906_train.csv', delimiter='^')

In [14]:
data.head(5)

,advertiserId,isDradisEmployer,salesTouched,week,costmillicent,jobCountry,company,employeeCount,dateCreated,firstRevenueDate,...,kw,outgoingEmail,outgoingCall,advertiserAgeWeek,spendAgeWeek,spendAgeWeek_c,advertiserAgeWeek_c,conversionTime_c,sales_touch,source
0,2505904,1,1,2015-06,1963000,US,Self,1-49,2015-02-01,2015-02-01,...,/url,1,1,1,1,1,0,0,2,organic
1,2505904,1,1,2015-05,493000,US,Self,1-49,2015-02-01,2015-02-01,...,/url,0,0,0,0,0,0,0,0,organic
2,2506194,1,0,2015-12,16043,AU,Western cuisine Restaurant,NaN,2015-02-01,2015-03-17,...,/,0,0,7,0,0,6,44,0,organic
3,2506458,1,1,2015-13,372619,GB,Pana Recruitment,1-49,2015-02-01,2015-03-20,...,/,0,2,8,1,1,6,47,2,direct
4,2506458,1,1,2015-15,1119477,GB,Pana Recruitment,1-49,2015-02-01,2015-03-20,...,/,0,0,10,3,3,6,47,0,direct

In [3]:
data.columns

Index([u'advertiserId', u'isDradisEmployer', u'salesTouched', u'week',
       u'costmillicent', u'jobCountry', u'company', u'employeeCount',
       u'dateCreated', u'firstRevenueDate', u'lastRevenueDate', u'isAdAgency',
       u'industry', u'type', u'state', u'city', u'conversionTime',
       u'hasDradisJob', u'sid', u'kw', u'outgoingEmail', u'outgoingCall',
       u'advertiserAgeWeek', u'spendAgeWeek', u'spendAgeWeek_c',
       u'advertiserAgeWeek_c', u'conversionTime_c', u'sales_touch', u'source'],
      dtype='object')

In [32]:
data['year'] = data['week'].apply(lambda y: int(y[0:4]))
data['week_n'] = data['week'].apply(lambda y: int(y[-2:]))

In [33]:
data.head()

,advertiserId,isDradisEmployer,salesTouched,week,costmillicent,jobCountry,company,employeeCount,dateCreated,firstRevenueDate,...,outgoingCall,advertiserAgeWeek,spendAgeWeek,spendAgeWeek_c,advertiserAgeWeek_c,conversionTime_c,sales_touch,source,year,week_n
0,2505904,1,1,2015-06,1963000,US,Self,1-49,2015-02-01,2015-02-01,...,1,1,1,1,0,0,2,organic,2015,6
1,2505904,1,1,2015-05,493000,US,Self,1-49,2015-02-01,2015-02-01,...,0,0,0,0,0,0,0,organic,2015,5
2,2506194,1,0,2015-12,16043,AU,Western cuisine Restaurant,NaN,2015-02-01,2015-03-17,...,0,7,0,0,6,44,0,organic,2015,12
3,2506458,1,1,2015-13,372619,GB,Pana Recruitment,1-49,2015-02-01,2015-03-20,...,2,8,1,1,6,47,2,direct,2015,13
4,2506458,1,1,2015-15,1119477,GB,Pana Recruitment,1-49,2015-02-01,2015-03-20,...,0,10,3,3,6,47,0,direct,2015,15

In [22]:
x = data.groupby(['advertiserId']).sum()

In [23]:
x

,isDradisEmployer,salesTouched,costmillicent,isAdAgency,conversionTime,hasDradisJob,outgoingEmail,outgoingCall,advertiserAgeWeek,spendAgeWeek,spendAgeWeek_c,advertiserAgeWeek_c,conversionTime_c,sales_touch
advertiserId,,,,,,,,,,,,,,
2505904,2,2,2456000,0,-28,2,1,1,1,1,1,0,0,2
2506194,1,0,16043,0,63137,1,0,0,7,0,0,6,44,0
2506458,8,8,30269265,0,538624,8,3,2,24,-32,180,48,376,5
2506715,1,0,513991,0,215552,1,0,0,22,0,0,21,150,0
2506760,5,0,14950270,0,26785,5,0,0,22,17,70,0,20,0
2506921,5,5,82886000,0,4875,5,2,0,99,94,94,0,5,2
2507310,10,10,26294000,0,8560,10,2,1,111,101,101,0,10,3
2507436,2,0,10038000,0,-1232,2,0,0,1,1,1,0,0,0
2507472,20,20,199935000,0,-12520,20,4,0,265,265,265,0,0,4
2507563,12,12,10912000,0,-7800,12,2,1,72,72,72,0,0,3
2507710,2,2,19354000,0,1498,2,1,0,28,26,26,0,2,1
2507847,6,0,123872000,0,-4374,6,0,0,26,26,26,0,0,0
2507873,2,0,1950441,0,-1472,2,0,0,1,1,1,0,0,0
2508051,9,0,20590000,0,-7128,9,0,0,138,138,403,0,0,0
2508054,1,0,20000,0,2085,1,0,0,1,0,0,0,2,0
2508060,17,17,494039000,0,-13515,17,3,1,432,432,644,0,0,4
2508159,13,0,70072000,0,4574934,13,0,0,398,-57,261,455,3185,0
2508184,21,0,52480000,0,11745951,21,0,0,295,232,232,1155,8169,0
2508257,36,0,132445000,0,7380432,36,0,0,958,223,675,720,5148,0
2508268,42,0,471752000,0,-35700,42,0,0,807,807,913,0,0,0
2508331,4,0,20522000,0,-3468,4,0,0,6,6,6,0,0,0
2508386,1,0,33000,0,-881,1,0,0,0,0,0,0,0,0
2508403,2,0,1363000,0,-1776,2,0,0,1,1,1,0,0,0
2508525,49,49,219526537,0,95648,49,2,0,1011,963,1965,0,98,2
2508574,1,1,1890659,0,1940,1,2,0,1,0,0,0,2,2
2508575,29,0,229109000,0,14471,29,0,0,435,406,406,0,29,0
2508628,9,0,39535248,0,4320,9,0,0,59,50,50,0,9,0
2508695,8,0,29455000,0,-7848,8,0,0,28,28,28,0,0,0
2508746,5,0,4309000,0,-5000,5,0,0,50,50,50,0,0,0
2508755,2,0,9075000,0,3750,2,0,0,3,1,1,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8253384,2,0,730000,0,1200,2,0,0,1,1,1,156,2,0
8253520,2,0,162064,0,-1734,2,0,0,1,1,1,154,0,0
8253536,1,0,346000,0,568,1,0,0,0,0,0,78,1,0
8253554,1,0,3072000,0,-874,1,0,0,0,0,0,77,0,0
8253697,1,0,478560,0,-901,1,0,0,0,0,0,77,0,0
8253810,1,0,774000,0,-922,1,0,0,0,0,0,77,0,0
8254411,1,0,1215000,0,388,1,0,0,0,0,0,78,1,0
8254488,1,0,505000,0,368,1,0,0,0,0,0,78,1,0
8254701,2,0,2024000,0,-2250,2,0,0,1,1,1,154,0,0
8255318,1,0,664000,0,-1310,1,0,0,0,0,0,77,0,0
8255346,1,0,140000,0,118,1,0,0,0,0,0,78,1,0
8255349,2,2,2142000,0,234,2,1,0,1,1,1,156,2,1
8255750,1,0,733949,0,-11,1,0,0,0,0,0,78,0,0
8256686,1,0,394643,0,-286,1,0,0,0,0,0,78,0,0
8256819,1,0,675776,0,-322,1,0,0,0,0,0,78,0,0
8257216,1,0,67690,0,-429,1,0,0,0,0,0,78,0,0
8257407,1,0,1070000,0,-473,1,0,0,0,0,0,78,0,0
8257410,1,0,67056,0,-475,1,0,0,0,0,0,78,0,0
8258275,2,0,1103000,0,-1278,2,0,0,1,1,1,156,0,0
8258429,1,0,208000,0,-666,1,0,0,0,0,0,78,0,0
8258460,1,1,80000,0,-671,1,1,0,0,0,0,78,0,1
8258880,1,0,484396,0,-738,1,0,0,0,0,0,78,0,0
8259060,2,0,571000,0,-1538,2,0,0,1,1,1,156,0,0
8259209,1,0,530000,0,-796,1,0,0,0,0,0,78,0,0
8259375,1,0,48836,0,-827,1,0,0,0,0,0,78,0,0
8259383,1,0,329000,0,-828,1,0,0,0,0,0,78,0,0
8259487,1,0,40000,0,-847,1,0,0,0,0,0,78,0,0
8260280,1,0,110000,0,442,1,0,0,1,0,0,78,1,0
8260417,2,0,542000,0,-2052,2,0,0,1,1,1,156,0,0
8261508,1,0,160000,0,-1237,1,0,0,0,0,0,78,0,0

In [13]:
type(data['week'][0])

str

In [4]:
data.isDradisEmployer.unique()

array([1, 0])

In [5]:
data[data['advertiserId']==2505904]

,advertiserId,isDradisEmployer,salesTouched,week,costmillicent,jobCountry,company,employeeCount,dateCreated,firstRevenueDate,...,kw,outgoingEmail,outgoingCall,advertiserAgeWeek,spendAgeWeek,spendAgeWeek_c,advertiserAgeWeek_c,conversionTime_c,sales_touch,source
0,2505904,1,1,2015-06,1963000,US,Self,1-49,2015-02-01,2015-02-01,...,/url,1,1,1,1,1,0,0,2,organic
1,2505904,1,1,2015-05,493000,US,Self,1-49,2015-02-01,2015-02-01,...,/url,0,0,0,0,0,0,0,0,organic

In [11]:
#Check weeks
#sorted(list(data.week.unique()))